<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card text-center ">
        <div class="card-header">
          Visualizador
        </div>
        <div class="card-body">
          <h5 class="card-title">Seleccione un archivo JSON para continuar...</h5>
          <p class="card-text">Dependiendo del archivo se cargaran las librerias correspondientes</p>

          <div class="row">
            <div class="col-sm-8 pe-0">
              <input class="form-control" type="file" id="formFile" accept="application/json" required (change)="onChange($event)">
            </div>
            
            <div class="col-sm-4 d-grid gap-2 ps-0">
              <button class="btn btn-dark" (click)="onLoad()" [ngClass]="{'disabled':buttonDisabled}">Abrir Archivo</button>
              <!-- Boton Para limpiar el Canvas
                <button class="btn btn-dark" (click)="clearZone()" type="button">Borrar Canvas</button>
              -->
            </div>
          </div>

          <app-canvas></app-canvas>

        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
</div>