<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card text-center ">
        <div class="card-header">
          Visualizador
        </div>
        <div class="card-body">
          <h5 class="card-title">Seleccione un archivo JSON para continuar...</h5>
          <p class="card-text">Dependiendo del archivo se cargaran las librerias correspondientes</p>
          <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
          </div>

          <app-canvas></app-canvas>

        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
</div>